apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority-data: {{ lookup('file', pki_path + '/ca.crt') | b64encode }}
    server: https://127.0.0.1:6443
contexts:
- name: default
  context:
    cluster: kubernetes
    user: admin
users:
- name: admin
  user:
    token: "{{ api_bearer_token }}"
current-context: default
