apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority-data: {{ lookup('ansible.builtin.file', pki_path + '/ca.crt') | b64encode }}
    server: https://127.0.0.1:6443
contexts:
- name: default
  context:
    cluster: kubernetes
    user: "{{ component_name }}"
users:
- name: "{{ component_name }}"
  user:
    token: 1234567890
current-context: default
