apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority: {{ pki_path }}/ca.crt
    server: https://127.0.0.1:6443
contexts:
- name: default
  context:
    cluster: kubernetes
    user: "system:node:{{ ansible_hostname }}"
users:
- name: "system:node:{{ ansible_hostname }}"
  user:
    client-certificate: {{ pki_path }}/kubelet.crt
    client-key: {{ pki_path }}/kubelet.key
current-context: default
